$dt-red: #f8485e;
$dt-grey: #3c3c3a;
$dt-white: #ffffff;

$dt-yellow: #fcc354;
$dt-green: #5ab891;
$dt-blue: #4a8cca;
$dt-pink: #ec86a3;
$dt-violet: #63238c;

$primary: $dt-blue;
$secondary: $dt-grey;
$success: $dt-green;
$info: $dt-yellow;
$warning: $dt-pink;
$danger: $dt-red;

$body-color: $dt-grey;
$headings-color: $dt-red;

$font-family-sans-serif: "Montserrat",
"Calibri",
system-ui,
-apple-system,
"Segoe UI",
Roboto,
"Helvetica Neue",
"Noto Sans",
"Liberation Sans",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";

@import "bootstrap/scss/bootstrap";
